APP_URL=http://localhost
DB_DIALECT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=your_db_name
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_TIMEZONE=+07:00
AUTH_KEY=your_web_application_key
MQTT_BROKER_URL=wss://your_websocket_url_broker:8884
MQTT_USERNAME=your_credential_username_mqtt
MQTT_PASSWORD=your_credential_password_mqtt
TOPIC_MONITOR=your_topic_monitor
TOPIC_CONTROL=your_topic_control